<div class="auth-wrapper">
	<div class="auth-content text-center">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Yeni Hesap Oluştur</h4>
						<hr>
						<div class="form-group mb-3">
							<input type="text" class="form-control" [(ngModel)]="CreateUserRequestModel.NameSurname" name="NameSurname" placeholder="Adınız Soyadınız">
						</div>
						<div class="form-group mb-3">
							<input type="text" class="form-control" [(ngModel)]="CreateUserRequestModel.userName" name="userName" placeholder="Kullanıcı Adınız">
						</div>
						<div class="form-group mb-4">
							<input type="password" class="form-control" [(ngModel)]="CreateUserRequestModel.password" name="password" placeholder="Şifreniz">
						</div>
						<div class="form-group mb-4">
							<input type="password" class="form-control" [(ngModel)]="CreateUserRequestModel.passwordRe" name="passwordRe" placeholder="Şifreniz Tekrar">
						</div>
						<button (click)="RegisterUser()" class="btn btn-block btn-primary mb-4">Kaydol</button>
						<hr>
						<p class="mb-0 text-muted">Hesabınız var mı? <a [routerLink]="['/login']" routerLinkActive="router-link-active" 
								class="f-w-400">Giriş yap</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

